html, body{
	padding: 0;
	margin: 0;
}

.gameBg{
	position: relative;
	top: 24px;
	left: 8%;
	width: 290px;
	height: 540px;
	background-color: black;
	border: 0px;
}

.player{
	position: absolute;
	top: 12px;
	left: 144px;
	width: 18px;
	height: 18px;
	background-color: red;
	border: 0px;
}

.stairStyle{
	width: 60px;
	height: 18px;
	background-color: #46A3FF;
}


.stair1, .stair2, .stair3, .stair4, .stair5{
	position: absolute;
	border: 0px;
}


